{
	"trailingComma": "es5",
	"tabWidth": 2,
	"semi": true,
	"singleQuote": false,
	"useTabs": true,
	"bracketSpacing": true,
	"jsxSingleQuote": false,
	"arrowParens": "always",
	"printWidth": 80,
	"endOfLine": "lf",
	"parser": "typescript"
}
