div.MuiAccordion-root {
  border-radius: 8px;
  border: 1px solid rgb(202, 101, 101);
  background-color: #faeecb;
  box-shadow: 0 0 2px brown;
  margin: 0.5rem 0;
}

div.MuiAccordion-root > div > div {
  margin-bottom: 0.5rem;
}

div.MuiAccordion-root > div > div {
  padding: 0;
}

ul.accordian-details {
  margin: 0;
  color: #575757;
  font-size: 1.1rem;
  padding: 0.5rem;
  padding-left: 1rem;
  /* border-top: 2px solid #999; */
}

ul.positions-responsibility {
  padding-top: 0.25rem;
  padding-left: 0.25rem;
}

.positions-responsibility {
  padding: 0.1rem;
  text-align: center;
  list-style-position: inside;
}
