.MuiCardMedia-root {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}

.MuiCardHeader-root {
  /* background-color: #f8c6ff; */
  background-color: #efc5ff;
}

span.MuiCardHeader-title {
  font-size: 1.35rem;
  font-weight: 600;
  text-decoration: underline;
}

span.MuiCardHeader-subheader {
  color: #333;
}

.MuiCardActions-root {
  background-color: #cfa3d4;
}

#transition-modal-title {
  text-align: center;
  text-decoration: underline;
}

#transition-modal-description {
  font-size: 1.25rem;
}
