body {
  margin: 0;
  scroll-behavior: smooth;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;  
  -moz-osx-font-smoothing: grayscale; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

article {
  padding: 1.5rem 0;
  /* background-color: #fcf3a0; */
  /* background-color: #ebebeb; */
  /* background-color: #e2eaff; */

  background: #f6c168;
  background: -webkit-linear-gradient(bottom right, #f6c168, #faf596);
  background: -moz-linear-gradient(bottom right, #f6c168, #faf596);
  background: linear-gradient(to top left, #f6c168, #faf596);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.page-content {
  overflow: auto;
  padding: 1.5rem;
}

.page-section {
  margin: 0;
}

@media only screen and (min-width: 800px) {
  .page-section {
    margin: 1rem 3rem;
  }
}

header {
  margin-bottom: 1.5rem;
}

.section-header {
  display: flex;
  justify-content: center;
  align-content: center;
  color: white;
  background-color: black;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  border: 4px solid rgb(245, 151, 44);
  box-shadow: 0 0 10px #f87218;
}

p {
  font-size: 1.1rem;
  text-align: justify;
}
