.about-me-image {
  /* display: flex; */
  /* align-items: center; */
  margin: 0.5rem 0;
  max-width: 16rem;
  filter: drop-shadow(0 0 5px grey);
}

.skills-section {
  margin: 0 auto;
}

.education-card-main {
  box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.2);
  filter: drop-shadow(0 0 2px green);
}

.education-card-content {
  background-color: #e7fcd2;
}

@media only screen and (min-width: 800px) {
  .about-me-image {
    max-width: 32rem;
  }
}
